TibcoAGVC/Connected Services/ServiceReference1/mex4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:40005/MissionService/mex?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://127.0.0.1:40005/MissionService/mex?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GB.MobileRobot.MissionManagement.MissionService.Dtos" />
  <xs:import schemaLocation="http://127.0.0.1:40005/MissionService/mex?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GB.MobileRobot.MissionManagement.Shared.Dtos" />
  <xs:element name="ConnectToService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerServiceUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectToServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSystemTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSystemTimeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestHeartBeat">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestHeartBeatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgvIds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgvIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAgvIdsResult" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeMissionTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="missionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GB.MobileRobot.MissionManagement.MissionService.Dtos" minOccurs="0" name="missionTaskDtos" nillable="true" type="q2:ArrayOfMissionTaskDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeMissionTasksResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortMission">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="missionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortMissionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMission">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="missionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GB.MobileRobot.MissionManagement.MissionService.Dtos" minOccurs="0" name="missionTaskDtos" nillable="true" type="q3:ArrayOfMissionTaskDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMissionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMissionInfos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMissionInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GB.MobileRobot.MissionManagement.MissionService.Dtos" minOccurs="0" name="GetMissionInfosResult" nillable="true" type="q4:ArrayOfMissionInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyLoadAccepted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agvId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyLoadAcceptedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyUnloadAccepted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agvId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyUnloadAcceptedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBatteryLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agvId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBatteryLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBatteryLevelResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agvId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GB.MobileRobot.MissionManagement.MissionService.Dtos" minOccurs="0" name="GetLocationResult" nillable="true" type="q5:LocationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStorageStates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agvId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStorageStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GB.MobileRobot.MissionManagement.MissionService.Dtos" minOccurs="0" name="GetStorageStatesResult" nillable="true" type="q6:ArrayOfStorageStateDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgvState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agvId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgvStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GB.MobileRobot.MissionManagement.MissionService.Dtos" minOccurs="0" name="GetAgvStateResult" nillable="true" type="q7:AgvStateDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgvMissionState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agvId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgvMissionStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GB.MobileRobot.MissionManagement.MissionService.Dtos" minOccurs="0" name="GetAgvMissionStateResult" nillable="true" type="q8:AgvMissionStateDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Dock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="missionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="agvId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DockResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyMissionAssignmentMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GB.MobileRobot.MissionManagement.Shared.Dtos" minOccurs="0" name="mode" type="q9:MissionAssignmentModeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyMissionAssignmentModeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifySendSmartTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="missionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="taskIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifySendSmartTagResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceMode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GB.MobileRobot.MissionManagement.Shared.Dtos" minOccurs="0" name="GetServiceModeResult" type="q10:ServiceModeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgvMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agvId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgvModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GB.MobileRobot.MissionManagement.Shared.Dtos" minOccurs="0" name="GetAgvModeResult" type="q11:AgvModeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgvOperationState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agvId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgvOperationStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GB.MobileRobot.MissionManagement.Shared.Dtos" minOccurs="0" name="GetAgvOperationStateResult" type="q12:AgvOperationStateDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalMileage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agvId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalMileageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalMileageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>